{% extends 'base.html' %}

{% block conteudo %}

<form method="POST">
    <div class="form-group">
        <label>Título:</label>
        {{ form_tarefa.titulo }}
    </div>
    <div class="form-group">
        <label>Descrição:</label>
        {{ form_tarefa.descricao }}
    </div>
    <div class="form-group">
        <label>Data de expiração:</label>
        {{ form_tarefa.data_expiracao }}
    </div>
    <div class="form-group">
        <label>Prioridade:</label>
        {{ form_tarefa.prioridade }}
    </div>

    <div class="form-group">
        <input type="submit" name="Salvar">
    </div>

</form>

{% endblock conteudo %}